{% extends "base.html" %}

{% block content %}

<script>switchtab(4);</script>

<!--REVIEW TAB START-->
<div class="container" id="tab-container4">
    <div id="outland">
        <div id="graphholder">
            <div id="graphbox">
                <div id="header">
                    <h1>DataValue1</h1>
                </div>
                <img src="chrome_2019-03-17_22-16-12.png" alt="graphpic">
            </div>

            <div id="prior">
                <div id=priorbox>
                    <button type="button" class="btn btn-success" id = "priordata" onclick=""><- Prior Data Column</button>
                </div>
            </div>
            <div id="next">
                <div id=nextbox>
                    <button type="button" class="btn btn-success" id = "nextdata" onclick="movepage('done');">Continue</button>
                </div>
            </div>
        </div>

        <div id="dataholder">
            <div id="metadata">
                <h2>Graph Metadata</h2>
                <div id="metadatabox">
                    <ul>
                        <li><a>DateTime:</a></li>

                        <li><a>Measurement:</a></li>

                        <li><a>Flag Code:</a></li>

                        <li><a>Flag Meaning:</a></li>

                        <li><a>Date Flagged:</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div id="dataholder2">
            <div id="flaggeddata">
                <h2>Flagged Data</h2>
                <div style="overflow-y:scroll;">
                    <table class="table table-bordered" id="table">
                        <h4>{{ filename }} preview: </h4>
                        <tbody id="QCdata">
                        </tbody>
                    </table>
                </div>

                <script>
                    var QC = $('#QCdata');
                    var data = JSON.parse('{{ outlier|safe }}');
                    for (var i = 0; i < data.length; i++) {
                        $('#TestSelector').innerHTML = "<tr><td>data[i].Humidity</td><td>data[i].Temperature</td><tr>";
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<!--REVIEW TAB END-->

<br><br><br><br><br><br><br>
<a href="/done">TEST</a>

{% endblock %}