{% extends "base.html" %}

{% block content %}

<script>switchtab(3);</script>

<!--RUN TESTS TAB START-->
<div class="container" id="tab-container3">
    <div class="jumbotron" id="">
        <div class="row">
            <div class="hidden" id = "ProgressBarHolder">
                <h1 style =  "text-align: center"> Running Tests </h1><br><br>
                <div id="ProgressBar" class="pbar" style="width:1%">1%</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm5"></div>
            <div class="col-sm2" style =  "text-align: center">
                <button type="button" class="btn btn-success" id = "RunTest" onclick="RunTests();">Run Test</button>
            </div>
            <div class="col-sm5"></div>
        </div>
    </div>

</div>
<!--RUN TESTS TAB END-->

<a href="/review">TEST</a>

{% endblock %}