 
{% extends "base.html" %}

{% block content %}



<script>switchtab(1);</script>

<!--VERIFY TAB START-->
<div class="container" id="tab-container1">

    <div class="container-fluid">
        <div class="jumbotron" style="background-color: lightblue; border-style: solid; border-color: #fff;">
            <div class="card-body">
                <h4>{{ filename }} (<span id="rowCount">100</span> rows)</h4>
                <div style="max-height:325px; overflow-y:scroll">
                        <table class="table table-bordered" id="table">
                            <thead>
                              <tr>
                                {% for item in column_names %}
                                    <th>{{item}}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for row in data_part %}
                                   <tr>
                                    {% for data in row %}
                                        <td>{{ data }}</td>
                                    {% endfor %}
                                   </tr>
                               {% endfor %}
                            </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="container" style="width: 100%; height: 100%;">
                <div class="jumbotron" id="detectedcolumns" style="height: 250px;">
                    <div class="container" style="width: 40%; height: 100%; float: left;">
                        <p>Detected column names </p>
                        <select class="form-control" id="colnames" multiple>
                                {% for item in column_names %}
                                    <option value="{{item}}">{{item}}</option>
                                {% endfor %}
                        </select>
                    </div>

                    <div class="container" style="width: 10%; float: left">
                        <button type="button" onclick="movetocoldata();">></button>
                        <button type="button" onclick="movetocolname();"><</button>
                    </div>

                    <div class="container" style="width: 40%; height: 100%; float: left;">
                        <p>Data Columns </p>
                        <select class="form-control" id="coldata" multiple>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="container">
                <div class="jumbotron" id="datetimecolumn" style="height: 250px;">
                    <p>Select DateTimeColumn </p>
                    <select class="form-control" multiple id="datetimecol">
                        {% for item in column_names %}
                                    <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <button class="btn" onclick="contbutton(1);">Accept</button>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="jumbotron inactive continuebutton" id="continuebutton1" onclick="movepage('config')" style="float: right;">
                    <h3 id="test">Continue</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="/config">TEST</a>

{% endblock %}


<!--VERIFY TAB END-->