
#logo {
    padding-top: 1%;
    padding-left: 5%;
    color: lightblue;
}

.text-large {
    font-size: 350%;
}


#tabs {
    padding-left: 10%;
    padding-right: 5%;
}

#tabsbg {
    background-color: darkgray;
}

#table {
    background-color: white;
}

#test {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#test2 {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: white;
}

#filedrop {
    text-align: center;
    height: 30%;
    background-color: cornsilk;
    border-style: dotted;
    border-color: black;
}

#tab-container1 {
    width : 100%;
}


#detectedcolumns {
    text-align: left;
    background: lightblue;
    border: 1px solid black;
}

#datetimecolumn {
    text-align: left;
    height: 250px;
    width: 400px;
    background: lightblue;
    border: 1px solid black;
}

#selectbutton {
    text-align: center;
    height: 30%;
    width: 40%;
    background-color: cornsilk;
    border-style: dotted;
    border-color: black;
}

.continuebutton {

    width: 40%;
    border-style: solid;
    border-color: black;
}


.continuebutton.inactive {
    pointer-events: none;
}

.continuebutton.active {
    background-color: darkgreen;
    color : white;
}

#datamodtablecont {
    background-color: lightblue;
    max-height: 250px;
    max-width: 93%;
    overflow: auto;
    justify-content: left;
}

#configure {
    margin: auto ;
    background-color: lightblue;
    min-height: 400px;
    border-style: solid; 
    border-color: #fff;
}

.noclick {
    pointer-events: none;
}

.click {
    pointer-events: auto;
}

.a {
    color: black;
}

.body {
    background-color: aliceblue;
}

.nav-tabs > li > a {
    color: black;
    background-color: lightblue;
    border-color: black;
}

.nav-tabs > li {
    background-color: lightblue;
    border-color: black;
}

.nav-tabs > li.active > a {
    background-color: green !important;
    color: white !important;
}

.pbar {
    margin: 50px 0;
    width: 700px;
    height: 26pt;
    font-size: 20pt;
    background-color: darkgreen;
    color: white;
    text-align: center;
    border-radius: 4px;
    border-color: black;
    border-width: 2px;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: darkgreen !important;
}

#outland {
    background-color: white;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 10px;
}

#graphholder {
    width: 975px;
    height: 650px;
    padding: 10px;
    float: left;
    background-color: grey;
}

#graphbox {
    width: 950px;
    height: 525px;
    float: left;
    background-color: white;
    margin: auto;
}

#graphboxheader {
    text-align: center;
}

#prior {
    width: 310px;
    height: 60px;
    float: left;
    margin: auto;
    margin-top: 70px;
}

#priorbox {
    width: 300px;
    height: 50px;
    text-align: center;
    margin: auto;
    font-size: 60px;
}

#next {
    width: 310px;
    height: 60px;
    float: right;
    margin: auto;
    margin-top: 90px;
}

#nextbox {
    width: 300px;
    height: 50px;
    text-align: center;
    margin: auto;
    font-size: 30px;
}

#dataholder {
    width: 500px;
    height: 230px;
    float: right;
    padding: 2px;
}

#metadata {
    width: 475px;
    height: 200px;
    background-color: lightblue;
    padding: 5px;
    font-size: 15px;
}

#metadatabox {
    width: 300px;
    height: 150px;
    background-color: white;
    margin: auto;
}

#metadata ul {
    list-style-type: none;
    padding: 2px;
}

#dataholder2 {
    width: 500px;
    height: 410px;
    float: right;
    padding: 2.5px;
}

#flaggeddata {
    width: 475px;
    height: 415px;
    background-color: lightblue;
    padding: 5px;
    font-size: 15px;
}

#flaggeddatabox {
    width: 450px;
    height: 330px;
    background-color: white;
    margin: auto;
    margin-top: 0;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}

#tab-container4 {
    background-color: white;
    width: 1450px;
    float: left;
}

.modal-title {
    text-align: center;
}

.list-group-item
{
  overflow:hidden;  
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}