
#logo {
    padding-top: 1%;
    padding-left: 5%;
    color: cadetblue;
}

.text-large {
    font-size: 350%;
}


#tabs {
    padding-left: 10%;
    padding-right: 5%;
}

#tabsbg {
    background-color: darkgray;
}

#table {
    background-color: white;
}

#test {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

#test2 {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    color: white;
}

#filedrop {
    text-align: center;
    height: 30%;
    background-color: cornsilk;
    border-style: dotted;
    border-color: black;
}

#selectbutton {
    text-align: center;
    height: 30%;
    width: 40%;
    background-color: cornsilk;
    border-style: dotted;
    border-color: black;
}

#continuebutton {

    width: 40%;
    border-style: solid;
    border-color: black;
}

#continuebutton.inactive {
    pointer-events: none;
}

#continuebutton.active {
    background-color: darkgreen;
}


#configure {
    margin: auto ;
    background-color: lightblue;
    min-height: 400px;
}

.nav-tabs {
    pointer-events: none;
}

.a {
    color: black;
}

.body {
    background-color: aliceblue;
}

.nav-tabs > li > a {
    color: black;
    background-color: lightblue;
    border-color: black;
}

.nav-tabs > li {
    background-color: lightblue;
    border-color: black;
}
.nav-tabs > li.active > a {
    background-color: green !important;
    color: white !important;
}